<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

	<script th:src="@{/js/datetimepicker-master/jquery.js}"></script>
	<script th:src="@{/js/datetimepicker-master/build/jquery.datetimepicker.full.min.js}"></script>
	<link rel="stylesheet" th:href="@{js/datetimepicker-master/jquery.datetimepicker.css}"></link>

	<script src="js/event.js" th:src="@{/js/event.js}"></script>

	<script type="text/javascript">
	$( function() {
		jQuery.datetimepicker.setLocale('ja');
		// 開始日
	    $( "#startDate" ).datetimepicker({
	    	timepicker:false,
	    	format: 'Y/m/d',
	    	inline: false,
	    	onChangeDateTime: function(dp, input){
	    		var startDate = $(input).val();
	    		var endDate = $("#endDate").val();
	    		if (startDate) {
	    			if ((endDate) || (startDate > endDate)) {
	    				$("#endDate").val(startDate);
	    			}
	    	    }
	    		$("#startTime").focus();
	    	},
	    });
		// 開始時刻
	    $( "#startTime" ).datetimepicker({
	    	datepicker:false,
	    	format: 'H:i',
	    	inline: false,
	    	onChangeDateTime: function(dp, input){
	    		var startTime = $(input).val();
	    		var endTime = $("#endTime").val();
	    		if (startTime) {
	    			if ((endTime) || (startTime > endTime)) {
	    				$("#endTime").val(startTime);
	    			}
	    	    }
	    		$("#endTime").focus();
	    	},
	    });
		// 終了日
	    $( "#endDate" ).datetimepicker({
	    	timepicker:false,
	    	format: 'Y/m/d',
	    	inline: false,
	    	onShow: function() {
	    		if ($("#startDate").val()) {
		    		this.setOptions({
	    				minDate: $("#startDate").val()
    				});
	    		}
	    	},
	    	onChangeDateTime: function(dp, input){
	    		$("#endTime").focus();
	    	},
	    });
		// 終了時刻
	    $( "#endTime" ).datetimepicker({
	    	datepicker:false,
	    	format: 'H:i',
	    	inline: false,
	    	onShow: function() {
	    		// 同日の場合は開始時刻以降のみ選択可能
	    		if ($("#startTime").val()) {
	    			if ($("#startDate").val() == $("#endDate").val()) {
	    		   		this.setOptions({
	    					minTime: $("#startTime").val()
    					});
	    		   		return;
	    			}
	    		}
	    		this.setOptions({
    				minTime: "00:00"
   				});
	    	},
	    });
	    $("#allDay").on("change", function() {
	    	if ($(this).prop('checked')) {
	    		$("#startTime").val("00:00").hide();
	    		$("#endTime").val("23:59").hide();
	    	} else {
	    		$("#startTime,#endTime").val("").show();
	    	}
	    });
	    $("#addDate").on("click", function() {
	    	if (!$("#startDate").val()) {
	    		$("#startDate").focus();
	    		return false;
	    	}
	    	if (!$("#endDate").val()) {
	    		$("#endDate").focus();
	    		return false;
	    	}
	    	if (!$(this).prop('checked')) {
	    		if (!$("#startTime").val()) {
	    			$("#startTime").focus();
	    			return false;
	    		}
	    		if (!$("#endTime").val()) {
	    			$("#endTime").focus();
	    			return false;
	    		}
	    	}
	    	var date = $("#startDate").val() + " " + $("#startTime").val() + "～" + $("#endDate").val() + " " + $("#endTime").val();
	    	$("#dateList option").prop('selected', false);
	    	if ($("#dateList option[value='" + date + "']").get(0)) {
	    		$("#dateList option[value='" + date + "']").prop('selected', true);
	    	}else {
				$option = $('<option />').val(date).text(date).prop('selected', true).appendTo($("#dateList"));
	    	}
		});
	    $("#removeDate").on("click", function() {
	    	$("#dateList option:selected").remove();
		});
	    $("#register").on("click", function() {
	    	$("#datelisttext").val("");
	    	$("#dateList option").each(function(i) {
	    		if (i != 0) {
	    			$("#datelisttext").val($("#datelisttext").val() + ",");
	    		}
	    		$("#datelisttext").val($("#datelisttext").val() + $(this).val());
	    	});
	    });
	});
	</script>
	<style>
		#startDate,#endDate {
			width:80px;
		}
		#startTime,#endTime {
			width:40px;
		}
		#dateList {
			width:250px;
		}
		.fieldError {
			background-color: #ff8080;
		}
		.box {
		    position: relative;
		    margin: 2em 0;
		    padding: 0.5em 1em;
		    border: solid 3px #FFC107;
		    border-radius: 8px;
		}
		.box .box-title {
		    position: absolute;
		    display: inline-block;
		    top: -13px;
		    left: 10px;
		    padding: 0 9px;
		    line-height: 1;
		    font-size: 19px;
		    background: #FFF;
		    color: #FFC107;
		    font-weight: bold;
		}
		.box26 p {
		    margin: 0;
		    padding: 0;
		}

		.head{
			background:#F5A9F2;
		}

		thead.scrollHead,tbody.scrollBody{
		  display:block;
		}
		tbody.scrollBody{
		  overflow-y:scroll;
		  height:180px;
		}

		/*幅調整*/
		td,th{
		  table-layout:fixed;
		}
		.team{
		  width:250px;
		}
		.name{
		  width:250px;
		}
		.btn{
		  width:50px;
		}
	</style>

</head>

<body>
	<div th:replace="layout::header"></div>

	<h2>イベント編集</h2>
	<div>
		<form method="post" action="/eventList">
			<button>一覧に戻る</button>
		</form>
	</div>

	<p style="color: red" th:text="${Message}"></p>

    <form method="post" id="registerForm" th:object="${eventModel}" action="/registEvent">
		<p><input type="hidden" name="id" th:field="*{id}"/></p>
		<div class="box">
			<span class="box-title">イベント名</span>
			<p>イベント名：<input type="text" name="name" th:field="*{name}" th:errorclass="fieldError"/></p>
			<p style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
		</div>

		<div class="box">
			<span class="box-title">候補日</span>
			<p style="color: red;" th:if="${#fields.hasErrors('datelisttext')}" th:errors="*{datelisttext}"></p>
			<p>候補日：</p>
			<div class="dateInput">
				<input id="startDate" readonly="readonly"/>
				<input id="startTime" readonly="readonly"/>
				<span>～</span>
				<input id="endDate" readonly="readonly"/>
				<input id="endTime" readonly="readonly"/>
				<label for="allDay" >終日</label><input id="allDay" type="checkbox" name="allDay" />
				<input type="button" value="候補日追加" id="addDate" />
			</div>
			<select id="dateList" name="datelist" multiple="multiple">
				<option th:each="eventDate : ${eventDateList}" th:value="${eventDate}" th:text="${eventDate}"></option>
			</select>
			<input type="button" value="候補日削除" id="removeDate"/>
			<input type="hidden" id="datelisttext" name="datelisttext" th:value="${datelisttext}"/>

		</div>

		<div class="box">
			<span class="box-title">メンバ</span>
			<p style="color: red;" th:if="${#fields.hasErrors('memberlist')}" th:errors="*{memberlist}"></p>
			<p>登録メンバ：</p>
			<table border="1">
	            <thead class="scrollHead">
	 				<tr class="head">
						<th colspan="3" align="left">登録メンバ一覧</th>
					</tr>
	                <tr class="head">
	                    <th class="team">所属</th>
	                    <th class="name">名前</th>
	                    <td class="btn"></td>
	                </tr>
	            </thead>
				<tbody id="tablebody" class="scrollBody">
				<tr th:each="member, stat : ${memberlistselect}">
					<td th:text="${member.team}" class="team"></td>
					<td th:text="${member.name}" class="name"></td>
					<td class="btn">
	    				<input type="button" th:id="${stat.index}" value="削除" onclick="delMember(this.id)" style="width: 100%" />
	    				<input type="hidden" id="memberlist" name="memberlist" th:value="${member.name}"/>
					</td>
				</tr>
				</tbody>
			</table>

			<p></p>
			<table>
	 			<tbody id="team">
				<tr>
					<td>プリセット：</td>
					<td th:each="team, stat : ${teamList}">
						<input type="checkbox" id="teamlistPreset" name="teamlistPreset" th:value="${team.name}" th:text="${team.name}" th:checked="${team.selected==true}" />
					</td>
					<td>
						<input type="button" value="追加" onclick="preset()" />
					</td>
				</tr>
				</tbody>
			</table>

			<p></p>
			<table>
	 			<tbody id="team">
				<tr>
					<td>絞り込み：</td>
					<td th:each="team, stat : ${teamList}">
						<input type="checkbox" id="teamlist" name="teamlist" th:value="${team.name}" th:text="${team.name}" th:checked="${team.selected==true}" />
					</td>
					<td>
						<input type="button" value="絞り込む" onclick="refine()" />
					</td>
				</tr>
				</tbody>
			</table>

			<p>メンバ検索：
			<input type="text" name="search" th:value="${search}" />
			<input type="button" value="絞り込む" onclick="refine()" />
			<input type="button" value="すべて表示" onclick="refine2()" />
			</p>

			<table border="1">
	            <thead class="scrollHead">
					<tr class="head">
						<th colspan="3" align="left">検索結果一覧</th>
					</tr>
	                <tr class="head">
	                    <th class="team">所属</th>
	                    <th class="name">名前</th>
	                    <td class="btn"></td>
	                </tr>
	            </thead>
				<tbody id="tablebodybase" class="scrollBody">
				<tr th:each="member, stat : ${memberList}">
					<td th:text="${member.team}" class="team"></td>
					<td th:text="${member.name}" class="name"></td>
					<td class="btn">
						<input type="button" th:id="${stat.index}" value="追加" onclick="addMember(this.id)" style="width: 100%" />
					</td>
				</tr>
				</tbody>
			</table>
		</div>

		<p><input type="submit" id="register" name="setevent" value="登録"/></p>
	</form>
    <form method="post" action="/eventList"  style="display: table-cell; float: right">
		<p><input type="submit" value="一覧に戻る"/></p>
	</form>
</body>
</html>