<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<script src="js/event.js" th:src="@{/js/event.js}"></script>


	<h2>イベント登録</h2>
    <p style="color: red" th:text="${Message}"></p>

    <form method="post" action="/registEvent">
		<p>イベント：<input type="text" name="name"/></p>

		<select name="year" id="id_year" onchange="dateValidation(this, 'year', 'month', 'day')">
		<option value=""></option>
		<option value="2017">2017</option>
		<option value="2018">2018</option>
		<option value="2019">2019</option>
		</select>
		<select name="month" id="id_month" onchange="dateValidation(this, 'year', 'month', 'day')">
		<option value=""></option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		</select>
		<select name="day" id="id_day" onchange="dateValidation(this, 'year', 'month', 'day')">
		<option value=""></option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		<option value="13">13</option>
		<option value="14">14</option>
		<option value="15">15</option>
		<option value="16">16</option>
		<option value="17">17</option>
		<option value="18">18</option>
		<option value="19">19</option>
		<option value="20">20</option>
		<option value="21">21</option>
		<option value="22">22</option>
		<option value="23">23</option>
		<option value="24">24</option>
		<option value="25">25</option>
		<option value="26">26</option>
		<option value="27">27</option>
		<option value="28">28</option>
		<option value="29">29</option>
		<option value="30">30</option>
		<option value="31">31</option>
		</select>

		<input type="button" value="候補日追加" onclick="addOption('year', 'month', 'day')" />
		<select name="datelist" size="5" style="width: 200px">
		</select>
		<input type="button" value="候補日削除" onclick="removeOption('year', 'month', 'day')" />

		<p>あとで非表示に<input type="text" name="datelisttext" /></p>
		
		<p><input type="submit" value="登録"/></p>
	</form>
    <form method="post" action="/eventList">
		<p><input type="submit" value="戻る"/></p>
	</form>
</body>
</html>