<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<script src="js/event.js" th:src="@{/js/event.js}"></script>

	<h2>イベント更新</h2>
	<p style="color: red" th:text="${Message}"></p>

    <form method="post" action="/updateEvent">
		<p><input type="hidden" name="id" th:field="*{event.id}"/></p>
		<p>イベント名<input type="text" name="name" th:field="*{event.name}" onkeyup="fieldChanged()" onchange="fieldChanged()"/></p>

		<p>候補日</p>
		<select name="year" id="id_year" onchange="dateValidation(this, 'year', 'month', 'day')">
		<option value=""></option>
		<option value="2017">2017</option>
		<option value="2018">2018</option>
		<option value="2019">2019</option>
		<option value="2020">2020</option>
		<option value="2021">2021</option>
		<option value="2022">2022</option>
		<option value="2023">2023</option>
		</select>
		<select name="month" id="id_month" onchange="dateValidation(this, 'year', 'month', 'day')">
		<option value=""></option>
		<option value="01">01</option>
		<option value="02">02</option>
		<option value="03">03</option>
		<option value="04">04</option>
		<option value="05">05</option>
		<option value="06">06</option>
		<option value="07">07</option>
		<option value="08">08</option>
		<option value="09">09</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		</select>
		<select name="day" id="id_day" onchange="dateValidation(this, 'year', 'month', 'day')">
		<option value=""></option>
		<option value="01">01</option>
		<option value="02">02</option>
		<option value="03">03</option>
		<option value="04">04</option>
		<option value="05">05</option>
		<option value="06">06</option>
		<option value="07">07</option>
		<option value="08">08</option>
		<option value="09">09</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		<option value="13">13</option>
		<option value="14">14</option>
		<option value="15">15</option>
		<option value="16">16</option>
		<option value="17">17</option>
		<option value="18">18</option>
		<option value="19">19</option>
		<option value="20">20</option>
		<option value="21">21</option>
		<option value="22">22</option>
		<option value="23">23</option>
		<option value="24">24</option>
		<option value="25">25</option>
		<option value="26">26</option>
		<option value="27">27</option>
		<option value="28">28</option>
		<option value="29">29</option>
		<option value="30">30</option>
		<option value="31">31</option>
		</select>

		<input type="button" value="候補日追加" onclick="addOption('year', 'month', 'day')" />
		<select name="datelist" size="5" style="width: 200px">
			<option th:each="eventDate : ${eventDateList}" th:value="${eventDate}" th:text="${eventDate}"></option>
		</select>
		<input type="button" value="候補日削除" onclick="removeOption('year', 'month', 'day')" />

		<p><input type="hidden" name="datelisttext" th:value="${datelisttext}"/></p>
		
		<p>メンバ</p>
		<select id="memberlist" name="memberlist" size="5" style="width: 500px" multiple="multiple" onChange="fieldChanged()">
			<option th:each="member : ${memberList}" th:value="${member.name}" th:text="${member.name}"  th:selected="${member.selected==true}"></option>
		</select>

		<p><input type="submit" name="setevent" value="更新"/></p>
	</form>
    <form method="post" action="/eventList">
		<p><input type="submit" value="戻る"/></p>
	</form>
</body>
</html>