<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>イベント一覧</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="layout::header"></div>

    <h2>イベント一覧</h2>

	<form method="post" action="/event" style="display: table-cell;">
		<P><input type="submit" value="イベント追加"/></P>
	</form>
	<form method="post" action="/member" style="display: table-cell;">
		<P><input type="submit" value="メンバー表示"/></P>
	</form>

	<table class="list" style="width: 80%" border="1">
	<tr>
	  <th style="width: 30%">イベント</th>
	  <th style="width: 50%" colspan="2">日付</th>
	  <td style="width: 10%"></td>
	  <td style="width: 10%"></td>
	</tr>
	<tr th:each="event:${events}">
		<td align="center"><a th:href="@{'/eventDetail?eventid=' + ${event.eventid}}"><span th:text="${event.eventName}">name</span></a></td>
		<td align="right" style="border-right:none;">
			<ul style="list-style:none; margin:0em"><li th:each="eventDate:${event.eventStartDate}" th:text="${#dates.format(eventDate, 'yyyy/MM/dd HH:mm')}" ></li></ul>
		</td>
		<td align="left" style="border-left:none;">
			<ul style="list-style:none; margin:0em;padding:0px"><li th:each="eventDate:${event.eventEndDate}" th:text="${#dates.format(eventDate, '～yyyy/MM/dd HH:mm')}" ></li></ul>
		</td>
		<td align="center">
	      	<form method="post" th:action="@{'/event?id=' + ${event.eventid}}">
				<input type="submit" value="編集" style="width: 100%"/>
			</form>
		</td>
		<td align="center">
	      	<form method="post" th:action="@{'/eventDelete?eventid=' + ${event.eventid}}">
				<input type="submit" value="削除" style="width: 100%"/>
			</form>
		</td>
	</tr>
	</table>

</body>
</html>