<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>出欠一覧</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 	<div th:replace="layout::header"></div>

    <h2>出欠一覧</h2>
    <table class="list" border="1">
    <tr>
      <th></th>
      <th th:each="eventDate:${eventDateList}">
        <span th:text="${eventDate.date}"></span>
      </th>
      <th>コメント</th>
    </tr>
    <tr th:each="eventDetail:${eventDetailList}">
      <td th:text="${eventDetail.name}"></td>
      <td th:each="attendance:${eventDetail.attendanceList}">
        <span th:text="${attendance}"></span>
      </td>
      <td th:text="${eventDetail.comment}"></td>
    </tr>
  </table>
  <form method="post" action="/transitionAttendance" th:form="${eventDetailModel}">
    <p><input type="submit" value="出欠登録" th:disabled="${isRegist} == false" /></p>
    <input type="hidden" name="eventid" th:value="${eventDetailModel.eventid}" />
    <input type="hidden" name="memberid" th:value="${sessionModel.id}" />
  </form>
  <form method="post" action="/eventList">
    <p><input type="submit" value="戻る"/></p>
  </form>
</body>
</html>