<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>イベント一覧</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h2>イベント一覧</h2>
    <table class="list" border="1">
    <tr>
      <th>日付</th>
      <th>イベント</th>
    </tr>
    <tr th:each="event:${events}">
      <td th:text="${event.eventDate}">date</td>
      <td th:text="${event.eventName}">name</td>
    </tr>
  </table>
    <form method="post" action="/event">
		<p><input type="submit" value="イベント登録"/></p>
	</form>
</body>
</html>